<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Voto Electronico</title>
        <link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <br><h1 class="titulo">Voto Electrónico - Esquema Michael Merritt</h1><br>
        <div th:if="${paso == 1}">
            <h1 class="paso"><b>Paso 1: </b> Crear llaves y compartirlas</h1><br><br>

            <form action="#" th:action="@{/crearLlaves}" method="post">
                <label>Introduce la contraseña para cifrar la información</label><br><br>
                <input class="inputPasswd" type="password" name="password" required/><br><br>
                <input class="boton" type="submit" value="Crear" />
            </form>
        </div>
        <div th:if="${paso == 2}">
            <h1 class="paso"><b>Paso 2: </b> Elige tu voto</h1><br><br>

            <label>¿Quieres que Cataluña se independize?</label><br><br>

            <form action="#" th:action="@{/votar}" method="post">
                <input class="radioButton" type="radio" name="eleccion" value="Si" required> Si
                <input class="radioButton mar-left" type="radio" name="eleccion" value="No" required> No<br><br>
                <input class="boton" type="submit" value="Accedir" />
            </form>
            <br>
            <div th:if="${llavesNoRecibidas}" class="faltanLlaves">
                <label >No se puede votar porque no se han recibido todas las llaves públicas</label>
            </div>
        </div>
        <div th:if="${paso == 3}">
            <h1 class="paso"><b>Paso 3: </b> Iniciar recuento</h1><br><br>

            <form action="#" th:action="@{/recuento}" method="post">
                <label>Introduce la contraseña para descifrar la información</label><br><br>
                <input class="inputPasswd" type="password" name="password" required/><br><br>
                <input class="boton" type="submit" value="Recuento" />
            </form>
        </div>
        <div th:if="${paso == 4}">
            <h1 class="paso"><b>Paso 4: </b> Resultados</h1><br><br>

            <label>¿Quieres que Cataluña se independize?</label><br><br>

            <table class="resultadoVotos">
                <tr>
                    <td>SI</td>
                    <td><label th:text="${votosSi}"></label></td>
                </tr>
                <tr>
                    <td>NO</td>
                    <td><label th:text="${votosNo}"></label></td>
                </tr>
            </table>
        </div>
    </body>
</html>